
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Margarine", sans-serif;
    background-color: lightgray;
    } 

main{
    background-color: white;
    padding: 17px;
    margin: 15px;
    
    width: 1060px;

}

table{
    border-collapse: collapse;
    }

caption{
    font-size: 2em;
    font-family:"Margarine", cursive, Helvetica, sans-serif, Helvetica, sans-serif;
    font-weight: 100;
    padding: 30px;
    border: 1px solid rgb(236, 232, 232);
}
tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}
div#container {
  overflow-x: auto;
 
}
.coluna {
    background-color:rgb(0, 81, 255);
    font-size: medium;
    font-weight: 900;
}
th, td{

    border: 1px solid black;
    padding: 18px;
}
.vazio {
    
}
.inicio {
    background-color: grey;

}
.inicio:hover{
    font-weight: 300;
    
    
}
.cabeçalho {
    background-color: rgb(0, 81, 255);
    font-weight: 900;
    }
.vermelho {
    background-color:#F03C5A;
}
.laranja {
    background-color: #E9A95D;
}
.amarelo {
    background-color: #F9E35D;
}
.verde {
    background-color: #5DC04E;
}
.azul {
    background-color: #46A5D2;
}
.índigo {
    background-color: #6E78FF;
}
.Violeta
 {
    background-color: #DC66D8;
}